<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didiglobal.android.standed">

    <application>
        <activity android:name=".StandedActivity"/>
        <activity android:name=".launchmode.LaunchModeActivity"
            android:taskAffinity="${applicationId}.singleTask"
            android:launchMode="singleTask"/>
        <activity android:name=".animation.FrameAnimationActivity"/>
        <activity android:name=".animation.ObjectAnimationActivity"/>
        <activity android:name=".animation.TweenAnimationActivity"/>
        <activity android:name=".animation.valueanimation.ValueAnimatorActivity"/>
        <activity android:name=".view.MeasureViewActivity">
            <intent-filter>
            </intent-filter>
        </activity>
    </application>
</manifest>