<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didiglobal.android.advanced">

    <application>
        <activity android:name=".AdvanceActivity" />
        <activity android:name=".hook.HookViewClickActivity" />
        <activity android:name=".CollectMethodStackActivity"/>
    </application>
</manifest>